@use "/src/sass/base/variables.scss" as *;

.about {
    padding-top: 50px;
    &__title {
        margin-top: 60px;
    }
    &__info {
        margin-top: 60px;
        gap: 35px;
        &-img {
            img {
                width: 100%;
                box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
            }
        }
        &-text {
            font-weight: 400;
            font-size: 16px;
            color: $dark;
        }
    }
}

@media screen and (min-width: 768px) {
    .about {
        &__info {
            &-img {
                padding: 0 60px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .about {
        &__info {
            gap: 0;
            &-img {
                padding: 0 20px 0 0;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .about {
        padding-top: 40px;
        &__title {
            margin-top: 100px;
        }
        &__info {
            margin-top: 100px;
            &-text {
                font-size: 20px;
            }
        }
    }
}