@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.catalog {
    padding-top: 50px;
    margin-bottom: 60px;
    &__title {
        margin-top: 60px;
    }
    &__tabs {
        display: flex;
        column-gap: 50px;
        row-gap: 13px;
        flex-wrap: wrap;
        margin-top: 60px;
        border: 1px solid $dark;
        padding: 13px 25px;
    }
    &__tab {
        position: relative;
        border: 0;
        padding: 0;
        background: none;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        color: #000;
        cursor: pointer;
        &_active::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #000;
            bottom: -1px;
        }
    }
    &__content {
        margin-top: 60px;
        width: 100%;
        &-item {
            flex-direction: column;
            row-gap: 20px;
        }
    }
    &__item {
        width: 340px;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
        margin: 0 auto;
        &-img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
        &-text {
            padding: 11px 12px 17px 12px;
            border: 1px solid $dark;
            border-top: 0;
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
            background: $light;
        }
        &-title {
            font-weight: 500;
            font-size: 16px;
            color: #000;
        }
        &-price {
            margin-top: 8px;
            font-weight: 500;
            font-size: 16px;
            color: #000;
        }
    }
}

@media screen and (min-width: 768px) {
    .catalog {
        &__tabs {
            width: 460px;
        }
        &__content {
            padding: 10px;
            position: relative;
            @include angle-decoration; 
            &-item {
                align-items: flex-start;
                flex-direction: row;
                gap: 20px;
                flex-wrap: wrap;
            }
        }
        &__item {
            margin: 0;
            min-height: 200px;
        }
    } 
}

@media screen and (min-width: 1200px) {
    .catalog {
        &__content {
            padding: 25px;
            &-item {
                gap: 35px;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .catalog {
        padding-top: 40px;
        &__title {
            margin-top: 100px;
        }
        &__content {
            &-item {
                column-gap: 83px;
                row-gap: 25px;
            }
        }
        &__item {
            width: 285px;
            &-text {
                padding: 10px 10px 15px 10px;
            }
        }
    }
}