@use "/src/sass/base/variables.scss" as *;

.findus {
    padding-top: 60px;
    margin-bottom: 60px;
    &__wrapper {
        margin-top: 60px;
        iframe {
            width: 100%;
            height: 205px;
        }
    }
}

@media screen and (min-width: 768px){
    .findus {
        &__wrapper {
            padding: 0 29px;
            iframe {
                height: 400px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .findus {
        &__wrapper {
            padding: 0;
            iframe {
                display: block;
                margin: 0 auto;
                width: 663px;
                height: 500px;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .findus {
        padding-top: 100px;
        margin-bottom: 100px;
        &__wrapper {
            margin-top: 80px;
            iframe {
                width: 801px;
                height: 604px;
            }
        }
    }
}