@use "/src/sass/base/variables.scss" as *;

.footer {
    background-color: $dark;
    padding: 50px 0;
    &__form{
        margin-top: 40px;
        &-title {
            color: $light;
            text-align: start;
        }
        &-text {
            margin-top: 40px;
            color: $light;
            font-weight: 400;
            font-size: 16px;
        }
        &-input {
            width: 293px;
            height: 32px;
            padding-bottom: 15px;
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid $ui-active;
            color: $light;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            &::placeholder {
                font-size: 14px;
                font-weight: 400;
                line-height: normal;
                color: $ui-disabled;
            }
        }
        &-btn {
            margin-top: 20px;
        }
    }
    &__check-block {
        display: flex;
        margin-top: 20px;
        align-items: center;
        color: $light;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        a {
            color: #a22dc6;
            text-decoration: none;
            margin-left: 2px;
        }
    }
    &__checkbox {
        margin-right: 15px;
        width: 15px;
        height: 15px;
        border: 1px solid $light;
        background-color: transparent;
    }
    &__links {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 66px;
        row-gap: 40px;
        &-title {
                color: $light;
                text-align: start;
        }
    }
    &__nav {
        margin-top: 40px;
        ul {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            padding: 0;
            list-style-type: none;
        }
    }
    &__link {
        a {
            font-weight: 400;
            font-size: 16px;
            color: $light;
            text-decoration: none;
        }
    }
    &__social {
        margin-top: 40px;
        &-title {
            color: $light;
            text-align: start;
        }
    }
    &__socials {
        margin-top: 40px;
        display: flex;
        column-gap: 10px;
        &-link {
            width: 24px;
            height: 24px;
            img {
                width: 100%;
            }
        }
    }
    &__copyright {
        margin-top: 40px;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        color: $light;
    }
    .just-validate-error-field {
        border-bottom: 1px solid $ui-error;
        outline: none;
        &::placeholder {
            color: $ui-error;
        }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__form-wrapper {
            width: 100%;
        }
        &__copyright {
            margin-top: 50px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        &__form-wrapper {
            width: auto;
        }
        &__social,
        &__links {
            margin-top: 0;
        }
    }
}

@media screen and (min-width: 1920px){
    .footer {
        padding-top: 80px;
        &__copyright {
            margin-top: 18px;
        }
    }
}