@use "/src/sass/base/variables.scss" as *;

.header {
    &__menu {
        z-index: 1000;
        padding: 50px 10px;
        position: fixed;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        background-color: $light;
        transition: all 0.6s;
        &_active {
            transform: translateX(100%);
        }
        &-close {
            width: 20px;
            height: 20px;
            span {
                display: block;
                width: 22px;
                height: 1px;
                background-color: $dark;
                &:nth-child(1) {
                    transform: translateY(8px) rotate(45deg);
                }
                &:nth-child(2) {
                    transform: translateY(8px) rotate(-45deg);
                }
            }
        }
        &-nav {
            margin-top: 50px;
            padding-left: 14px;
            ul {
                display: flex;
                flex-direction: column;
                gap: 25px;
                padding: 0;
                list-style-type: none;
            }
        }
        &-link {
            font-weight: 400;
            font-size: 20px;
            text-transform: uppercase;
            color: $dark;
            text-decoration: none;
        }
    }
    &__top{
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        width: 100px;
        height: 100px;
    }
    &__icons {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        a {
            display: block;
            color: $dark;
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
    &__nav {
        display: none;
    }
}

.burger {
    display: flex;
    height: 23px;
    flex-direction: column;
    row-gap: 10px;
    padding-right: 35px;
    span {
        display: block;
        width: 20px;
        height: 1px;
        background-color: $dark;
    }
}

@media screen and (min-width: 768px) {
    .header {
        &__menu {
            display: none;
        }
        &__nav {
            display: block;
            margin-top: 20px;
            ul {
                display: flex;
                padding-left: 0;
                justify-content: center;
                gap: 30px;
                li {
                    list-style-type: none;
                }
            }
        }

        &__link {
                font-weight: 400;
                font-style: normal;
                font-size: 20px;
                line-height: normal;
                text-transform: uppercase;
                color: $dark;
                text-decoration: none;
        }
    }
    .burger {
        visibility: hidden;
    }
}

@media screen and (min-width: 1920px) {
    .header {
        &__logo {
            width: 150px;
            height: 151px;
        }
        &__nav {
            margin-top: 36px;
            ul {
                gap: 60px;
            }
        }
    }
}