@use "/src/sass/base/variables.scss" as *;

.touch {
    padding-top: 60px;
    &__wrapper {
        margin-top: 60px;
    }
    &__img {
        display: none;
    }
    &__form {
        width: 100%;
    }
    &__fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }
    &__label {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: $dark;
        &:nth-child(2){
            margin-top: 8px;
        }
    }
    &__input {
        width: 100%;
        border: 1px solid #e2e1e5;
        border-radius: 2px;
        padding: 10px 15px;
        height: 48px;
        color: $dark;
        &:focus {
            border: none;
            outline: 1px solid $dark;
        }
        &::placeholder{
            font-size: 14px;
            color: $ui-disabled;
        }
    }
    &__textarea {
        width: 100%;
        border: 1px solid #e2e1e5;
        border-radius: 2px;
        padding: 10px 15px;
        height: 132px;
        color: $dark;
        resize: none;
        &:focus {
            border: none;
            outline: 1px solid $dark;
        }
        &::placeholder {
            font-size: 14px;
            color: $ui-disabled;
        }
    }
    &__check-block {
        display: flex;
        align-items: center;
        margin-top: 20px;
        a {
            color: #a22dc6;
            text-decoration: none;
            margin-left: 2px;
        }
    }
    &__checkbox {
        margin-right: 15px;
        width: 15px;
        height: 15px;
    }
    &__btn {
        margin-top: 20px;
    }
    &__icon {
        display: none;
    }
    .just-validate-error-field {
        border: none;
        outline: 1px solid $ui-error;
    }
}

@media screen and (min-width: 768px) {
    .touch {
        &__wrapper {
            margin-top: 45px;
        }

        &__form {
            padding-left: 24px;
            width: 300px;
        }
        &__icon {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

@media screen and (min-width: 1200px) {
    .touch {
        &__wrapper {
            margin-top: 80px;
            
        }
        &__img {
            display: block;
            width: 550px;
            height: 342px;
            object-fit: cover;
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
        }
        &__form {
            padding-left: 20px;
        }
        &__input {
            &:hover {
                border: none;
                outline: 1px solid $dark;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .touch {
        &__img {
            width: 100%;
            height: 356px;
        }
        &__form {
            width: auto;
            padding-left: 147px;
        }
        &__fieldset {
            display: flex;
            column-gap: 45px;
        }
        &__label,
        &__input,
        &__check-block,
        &__textarea {
            width: 300px;
        }
        &__icon {
            right: 75px;
        }

    }
}